body{
  font-family: arial, sans-serif;
  height: 90%;
  background: #EAD6FF;
}
#larger_container{
  width: 100%;
  position: absolute;
  left:0px;
  right:0px;
  top:0px;
  bottom:0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#login_container{
  background: #AD5BFF;
  padding: 20px;
  width: 60%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 3px 3px 3px #9932FF;
  border-radius: 2px;
}
#login_container input{
  padding:10px;
  margin:5px;
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid #A042FF;
}
#login_button{
  background: #CC99FF;
  font-family: coolvetica;
  font-size: 30px;
  padding: 20px;
  margin:20px;
  border-radius: 2px;
  box-shadow: 2px 2px 2px #A042FF;
  font-weight: bold;
}
#login_button:hover{
  background: #C993FF;
}
#login_button:active{
  background: #C185FE;
}
